<div class="navbar">
  <p class="navbar-logo">
    <a href="/" class="link-neutral">diode -</a>
    <a href="/abaut" class="link-neutral">life</a>
  </p>
  <div class="navbar-util">
    <!-- Not Logged In: -->
    <% if(!user) { %>
    <div class="control-btn" class="link">
      <button>
        <a href="/auth/login" class="link-btn"> Login </a>
      </button>

      <button>
        <a href="/auth/register" class="link-btn"> Signup </a>
      </button>
    </div>
    <% } %>

    <!-- Logged In: -->
    <% if(user) { %>
    <div class="control-btn">
      <div class="user">
        <p><%= user %></p>
        <i class="fa-solid fa-user"> </i>
      </div>
      <button id="admin">Admin</button>
      <button id="password">Change Password</button>
      <a href="/user/cart" class="link-neutral">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <i class="fa-solid fa-right-from-bracket" id="logout"></i>
    </div>
    <% } %>
  </div>
</div>
